@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
  width: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
  min-height: 100%;
}

#root {
  overflow-x: hidden;
  max-width: 100vw;
  width: 100%;
  height: 100%;
  position: relative;
}

:root {
  /* all colors.... */
  --primary-color: #fff;
  --secondary-color: #f4f5f7;
  --sideMenu-color: #0043a7;
  --sideMenuLink-color: #f4f5f7;
  --mainText-color: #000000;
  --paraText-color: #4d4d4d;
  --button-color1: #0052cc;
  --button-color2: #333333;
  --button-color3: #7f7f7f;
  --button-color4: #7f7f7f;
  --button-color5: #1c6506;
  --button-color6: #2d3289;
  --chart-color1: #529aed;
  --linear-gradient-color1: linear-gradient(90deg, #76a13d 0%, #396400 100%);
  --activeTab-color: #76a13d;
  --border-color: #d4d4d4;
  --Negative-color: #dc2020;
  --Positive-color: #80c02a;
  --counterBg-color: #f8a61b;

  /* fonts ... */
  --mainFont: "Orbitron", sans-serif;
  --paraFont: "Rubik", sans-serif;
}
body {
  overflow-x: hidden;
}
h1,
h2,
h3,
h5,
h6,
.mainFont {
  font-family: var(--mainFont);
}
.paraFont {
  font-family: var(--paraFont);
}

.clipPathEffect {
  clip-path: circle(65% at 80% 50%);
}

.activeLink svg path,
.activeLink svg g path {
  fill: var(--sideMenu-color) !important;
}

.deActiveLink svg path {
  fill: var(--secondary-color) !important;
}

.deActiveLink svg g path {
  fill: var(--secondary-color) !important;
}
.hideScrollbar::-webkit-scrollbar {
  display: none;
}

.customBg {
  background: #e7711d;
  background: linear-gradient(
    87deg,
    rgba(231, 113, 29, 1) 0%,
    rgba(38, 106, 174, 1) 100%
  );
}
.scrollCustom::-webkit-scrollbar {
  display: none;
}
